layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffd7a0"
        inactive-color "#9e8e7b"
        urgent-color   "#ffb4ab"
    }

    border {
        off
        active-color   "#ffd7a0"
        inactive-color "#9e8e7b"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffd7a0"
        inactive-color "#9e8e7b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffd7a080"
    }
}
overview {
  backdrop-color "#442b00"
    workspace-shadow {
        color "#00000070"
    }
}
