spawn-at-startup "swaync"
spawn-at-startup "awww-daemon"
spawn-at-startup "qs"
spawn-at-startup "gamepad"
spawn-at-startup "copyq"
spawn-at-startup "nm-applet"
spawn-sh-at-startup "wlsunset -g 0.8 -t 6000 -T 6500"
spawn-sh-at-startup "niri-screen-time -daemon"
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_MENU_PREFIX QT_QPA_PLATFORMTHEME"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "/usr/lib/pam_kwallet_init"
spawn-at-startup "chromium"
spawn-at-startup "steam"
spawn-at-startup "cartridges"
spawn-at-startup "discord"
