spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "qs"
spawn-sh-at-startup "gamepad"
spawn-sh-at-startup "copyq"
spawn-sh-at-startup "nm-applet"
spawn-sh-at-startup "wlsunset -g 0.8 -t 6000 -T 6500"
spawn-sh-at-startup "niri-screen-time -daemon"
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP XDG_MENU_PREFIX QT_QPA_PLATFORMTHEME"
spawn-sh-at-startup "soteria"
spawn-sh-at-startup "helium"
spawn-sh-at-startup "steam"
// spawn-sh-at-startup "heroic"
spawn-sh-at-startup "app.twintaillauncher.ttl"
spawn-sh-at-startup "equibop"
spawn-sh-at-startup "hydra"
