include "~/.config/niri/colors.kdl"
// Example: enable rounded corners for all windows.
animations {
    slowdown 1.5
}
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
layer-rule {
    match namespace="^awww-daemon$"

    place-within-backdrop true
}
layer-rule {
    match namespace="^rofi$"

    shadow {
        on
    }
    geometry-corner-radius 10
}

layout {
    gaps 10
    center-focused-column "on-overflow"
    focus-ring {
      width 3
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }
    shadow {
        on
        softness 5
        spread 3
        offset x=0 y=0
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
overview {
  zoom 0.6
    workspace-shadow {
        // off
        softness 100
        spread 30
        offset x=0 y=10
        color "#00000050"
    }
}
